.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 54px;
  width: 100%;
  border-bottom: 1px solid #212121;
}

.title {
  font-size: 36px;
  line-height: 150%;
  letter-spacing: 0em;
  font-weight: 800;
}
