.input {
  width: 250px;
  height: 24px;
  padding: 12px 8px;
  border: 1px solid #212121;

  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.04em;
  font-weight: 400;
  color: #212121;
}

.input::placeholder {
  color: #8f8f8f;
}

.input:focus,
.input:hover {
  border-color: #a375b7;
}
