.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 8px;;
  border-bottom: 1px solid #cdcdcd;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.contact-name {
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.02em;
  font-weight: 700;
  color: #633f73;
}

.contact-number {
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.06em;
  font-weight: 500;
  color: #212121;
}

.delete-btn {
  background-color: #825a95;
  padding: 8px 12px;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.delete-btn:focus,
.delete-btn:hover {
  background-color: #a375b7;
}