*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
button,
body {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

input,
button {
  outline: none;
  cursor: pointer;
  border: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
